/*
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@1,900&family=Roboto&display=swap');
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap');



:root {
    --color-primary-1:#4157ac;
    --color-primary-2:#0BF40A;
    --color-primary-3:#fff109;
    --color-primary-4:#DF2733;
    --color-primary-1-rgb:rgb(65,87,172);
    --color-primary-2-rgb:rgb(11,244,10);
    --color-primary-3-rgb:rgb(255,241,9);
    --color-bg-light:#fff;
    --color-text-light:#fff;
    --color-text-dark:rgba(0,0,0, 0.67);
    --color-table-cell:#eee;
    --padding-button-wide:0.5em 1em;
    --padding-button-short: 0.5em 1em;
    --border-radius-button:4px;
}

html {
    height: 100%;
    max-width: 100%;
}

html,
body,
header,
main,
footer,
a {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

label {
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li a {
    color: var(--color-text-light);
    text-decoration: none;
}

li {
    display: inline-block;
}

a {
    cursor: pointer;
}

a:visited {
    text-decoration:none;
}

.caret-hidden {
    caret-color: transparent;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    right: 0;    
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
}

.flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


/*--------*/
/* COLORS */
/*--------*/

.hero-button,
#upcoming-event-registration-button,
.sponsors-button,
.schedule-button,
.card,
.gallery-hero-button {
    text-decoration: none;
}

#SystemBarNavigation .sidenav-links li a,
.Hero-Content,
.hero-button,
.section-header,
.table-button,
.news-card-title,
#gallery-hero-shout,
#gallery-hero-verbose {
    color:var(--color-primary-1);
}

#Menu li a,
.announcement-message,
.announcement-read-more,
.upcoming-event-title,
.upcoming-event-venue,
.upcoming-event-date,
.upcoming-event-time,
.countdown-card,
#LatestNews .featured .featured-news-content,
#LatestNews .card .card-image .card-date,
.footer-category-label,
#Copyright {
    color:var(--color-text-light);
}

#Schedule table td,
.news-card-excerpt {
    color:var(--color-text-dark);
}

.upcoming-section-header {
    color:var(--color-primary-2);
}

#SystemBar,
#SystemBarNavigation,
#SystemBarNavigation .icon-links li a,
#Schedule,
.table-viewport {
    background: var(--color-bg-light);
}

#Schedule table td {
    background: var(--color-table-cell);
}

#Announcement {
    background: var(--color-primary-4);
}

.hamburger .bar,
#Navigation,
#Hero .slide-arrow,
#Upcoming,
#Schedule,
#LatestNews .featured,
#LatestNews .card .card-image .card-date,
#Footer {
    background: var(--color-primary-1);
}


#Hero #slides-container,
#Hero .Hero-Slide,
#GalleryHero {
    background: var(--color-primary-2);
}

#LatestNews .featured .card-label-featured {
    color: var(--color-primary-2);
}

#Hero .slide-arrow {
    opacity: 80%;
}

#Hero .slide-arrow {
    box-shadow: 0px 0px 8px 4px rgba(65, 87, 172, 0.33);
}

#SystemBarNavigation .icon-link {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5)
}

td {
    border-top: 1px solid var(--color-bg-light);
}

#Schedule table td {
    border-bottom: 8px var(--color-bg-light);
}

#LatestNews .featured .featured-news-image,
#LatestNews .news-card .news-card-image {
    border-radius: 12px;
}

.vertical-gradient {
    position: absolute;
    z-index: 600;
    height: 100%;
    width: 100%;
    background-image:
        linear-gradient(to top,
            rgba(11, 244, 10, 0.25),
            rgba(11, 244, 10, 0.35),
            rgba(11, 244, 10, 0.55),
            rgba(11, 244, 10, 1),
            rgba(255, 241, 9, 1),
            rgba(255, 241, 9, 0.35),
            rgba(255, 241, 9, 0.25),
            rgba(255, 241, 9, 0.15),
            rgba(255, 241, 9, 0.1));
}

/*---------*/
/* Buttons */
/*---------*/

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.membership-button {
    color:var(--color-primary-1);
    background:var(--color-primary-2);
    padding: var(--padding-button-short);
    border-radius: var(--border-radius-button);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.hero-button {
    padding: var(--padding-button-wide);
    border-radius: var(--border-radius-button);
    border: 3px solid var(--color-text-light);
}


#upcoming-event-registration-button {
    padding: var(--padding-button-wide);
    border-radius: var(--border-radius-button);
    border: 3px solid var(--color-text-light);
    color:var(--color-text-light);    
}

.sponsors-button,
.schedule-button {
    padding:var(--padding-button-wide);
    border-radius:var(--border-radius-button);
    color:var(--color-text-light);
    background:var(--color-primary-1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

.table-button {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color:var(--color-primary-1);
}

.gallery-hero-button {
    padding: var(--padding-button-short);
    border-radius: var(--border-radius-button);
    color: var(--color-text-light);
    background: var(--color-primary-1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
}

/* ----------------- */
/* RESPONSIVE STYLES */
/* ----------------- */

@media only screen and (max-width:600px) {
    /* ---------- */
    /* COMPONENTS */
    /* ---------- */
    #Schedule {
        background: var(--color-bg-light);
    }

    #LatestNews .card {
        border-radius:12px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5)
    }

    #LatestNews .featured .featured-news-image,    
    #LatestNews .news-card .news-card-image {
        border-radius: 12px 12px 0 0;
    }
}