.container {
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}

#SystemBar {
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#Logo {
    display:flex;
    justify-content: center;
}

#Navigation {
    height:7vh;
}

#Menu {
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
}

#Main {
    flex-grow:1;
    display:flex;
    flex-direction:column;
}

#Hero button {
    background:transparent;
    border:none;
}

.Hero-Content {
    display: flex;
    flex-direction:column;
    align-items: center;
}

/* HERO SLIDER IMAGES */

#slide-1-image {
    background: url("./static/archery-guyana-public.jpg");
    background-size: cover;
}


#slide-2-image {
    background: url("./static/archery-guyana-friendly-officials.jpg");
    background-size: cover;
}

#slide-3-image {
    background: url("./static/archery-guyana-men-indoor-winners.jpg");
    background-size: cover;
}

#slide-4-image {
    background: url("./static/archery-guyana-firing-squad.jpg");
    background-size: cover;
}

#slide-5-image {
    background: url("./static/archery-guyana-youngters.jpg");
    background-size: cover;
}

#slide-6-image {
    background: url("./static/archery-guyana-bows-up.jpg");
    background-size: cover;
}

#gallery-hero-image {
    background: url("./static/archery-guyana-red-team-focussed.jpg");
    background-size: cover;
}

#caution-sign {
    background: url("./static/icons8-caution-96-white.png");
    background-size: cover;
}

.featured-news-image {
    background: url("./static/archery-guyana-group-hug-white.jpg");
    background-size: cover;
}

#latest-news-1 {
    background: url("./static/archery-guyana-massy-sponsorship.jpg");
    background-size: cover;
}

#latest-news-2 {
    background: url("./static/archery-guyana-svc-school-introducing-the-bow.jpg");
    background-size: cover;
}

#latest-news-3 {
    background: url("./static/archery-guyana-ix-copa-merengue-santo-domingo.jpg");
    background-size: cover;
}

#LatestNews .featured .featured-news-content {
    display:flex;
    flex-direction:column;
}

#LatestNews .card .card-image {
    position:relative;
}

#LatestNews .card .card-image .card-date {
    position: absolute;
    height:48px;
    width:48px;
    top:16px;
    left:16px;
    border-radius:8px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

#LatestNews .card .card-image .card-date div {
    text-align: center;
}

#LatestNews .card .card-image .card-date div {
    display:flex;
    justify-content: center;
}

#Announcement {
    padding:1.67em 0;
    display:flex;
    align-items: center;
}

#Schedule {
    flex-grow:1;
}

.table-viewport {
    margin:0 1em;
    border-radius:8px;
}

#Footer {
    flex:1;
}

#Footer {
    display:flex;
    flex-direction:column;
}

#Footer-Content {
    flex:1 0 90%;
}

#Footer .footer-category-links li img {
    height:24px;
    width:24px;
}

#Copyright {
    flex: 1 0 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

/* ***************

MOBILE RESPONSIVE STYLES
------------------------
*****************/


/****************
SMALL DEVICES - MOBILE PHONES, SMALL TABLETS
*****************/

@media only screen and (max-width:600px) {
    #Social-Links,
    #Affiliations {display:none;}

    #SystemBar {
        height:10vh;
    }

    #SystemBar #Logo {
        flex:1 1 50%;
    }

    #SystemBar .nav-label {
        flex:1 1 50%;
        display:flex;
        justify-content: center;
    }

    #SystemBar img.logo {
        height:20%;
        width:20%;
    }

    #SystemBarNavigation {
        z-index:750;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 10vh; /* EQUAL TO HEIGHT OF #SystemBar */        
        right: -100vw;
        display: flex;
        flex-direction:column;
        gap:2em;
        transition: all 0.619s ease-in-out;
    }

    #SystemBarNavigation ul {
        display:block;
    }

    #SystemBarNavigation ul li a {
        display:inline-block;
    }

    #SystemBarNavigation .sidenav-menu-links {
        display:flex;
        flex-direction:column;
        gap:1.2em;
        padding: 3em 3em 0 3em;
    }

    #SystemBarNavigation .icon-links {
        display:flex;
        gap:0.67em;
        padding-left:3em;
    }

    #SystemBarNavigation .icon-links li a {
        display:flex;
        justify-content:center;
        align-items:center;
        height:48px;
        width:48px;
        border-radius:50%;
    }

    #SystemBarNavigation .icon-links li a img {
        height:36px;
        width:36px;
    }

    #toggler {
        position: absolute;
        height: 25px;
        width: 24px;
    }
    
    #toggler:checked ~ #SystemBarNavigation {
        z-index: 900;
        left:100vw;
        transform: translate(-100%, 0);
    }

    #toggler:checked ~ #SystemBar {
        position:fixed;
    }

    .stop-scrolling {
        height: 100%;
        overflow: hidden;
    }


    #Menu {
        width: 100%;
        gap: 2em;
    }

    .hamburger {
        width: 24px;
        height: 24px;
        position: relative;
        display:flex;
        flex-direction:column;
    }

    .hamburger .bar {
        width: 24px;
        height: 4px;
        display: block;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: absolute;
    }

    .bar1 {top: 0;}

    .bar2,
    .bar3 {
        top: 8px;
    }

    .bar4 {top:16px;}

    #toggler:checked+label>.hamburger>.bar1 {
        transform: rotate(45deg);
        transform-origin: 5%;
        width: 24px
    }

    #toggler:checked+label>.hamburger>.bar2 {
        transform: translateX(-24px);
        background-color: transparent;
    }

    #toggler:checked+label>.hamburger>.bar3 {
        transform: translateX(24px);
        background-color: transparent;
    }

    #toggler:checked+label>.hamburger>.bar4 {
        transform-origin: 5%;
        transform: rotate(-45deg);
        width: 24px;
    }

    #Gallery-Menu,
    #Sponsors-Menu,
    #Membership-Menu {display:none;}

    #GalleryHero,
    #Hero {
        flex:1 0 70vh;
    }

    #Hero {
        position:relative;
    }

    .Hero-Content {
        flex: 1 0 50%;
        justify-content:flex-start;
        overflow-y:hidden;
    }

    .Hero-Content span {
        text-align:center;
    }
    
    .Hero-Image {
        flex: 1 0 50%;
    }

    #Hero #slides-container {
        height:100%;
        width:100%;
        display: flex;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    #Hero .Hero-Slide {
        height:100%;
        min-width:100%;
        position: relative;
        display: flex;
        flex-direction: column;
        scroll-snap-align: center;
    }

    #slide-5-image {
        background-position: 30% 0;
    }

    #slide-3-image {
        background-position:65% 0;
    }

    #slide-6-image {
        background-position: 0 30%;
    }

    .Hero-Image {
        order: 1;
    }

    .Hero-Content {
        order: 2;
        z-index:700;
    }

    .Hero-Content {
        justify-content:center;
        padding: 0 1em;
    }

    #Hero .slide-arrow {
        height:32px;
        width:32px;
        position:absolute;
        top:50%;
        z-index:750;
        cursor:pointer;
        display:flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;        
    }

    #Hero #slide-arrow-next {
        right:8px;
    }

    #Hero #slide-arrow-prev {
        left: 8px;
    }

    #Hero .slide-arrow img {
        height:24px;
        width:24px;
    }

    #Hero .verbose {
        padding:1em 0;
    }

    #Announcement {    
        flex:1 1 10vh;
    }

    #Announcement #caution-sign {
        height:48px;
        min-width:48px;
    }

    #Announcement .announcement-message {
        padding-right:48px;
    }

    #Upcoming {
        flex-grow:1;
        display: flex;
        flex-direction:column;
    }

    #Upcoming .upcoming-event-details {
        padding:2em 0 1em 0;
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items: center;
        gap:0.33em;
    }

    #upcoming-event-registration-button {
        margin:1em 0;
    }

    #Upcoming .upcoming-event-countdown-timer {
        padding:1em 0 2em 0;
        display:flex;
        justify-content:space-around;
    }

    #Upcoming .upcoming-event-countdown-timer .countdown-card {
        flex-grow:1;
        flex-shrink:0;
    }

    .countdown-card-top,
    .countdown-card-bottom {
        display: flex;
        justify-content: center;
    }

    .countdown-card-top {font-size:18pt;}

    .Sponsors {
        padding:4em 0 4em 0;
        flex-grow:1;
        display:flex;
        flex-direction:column;
        gap:2em;
    }

    .sponsor-logos {
        display:flex;
        flex-wrap: wrap;
        display:flex;
        justify-content:center;
        column-gap: 1em;
        row-gap: 2em;        
    }

    .sponsor-controls {
        display:flex;
        justify-content: center;
    }

    .sponsors-button {
        justify-self:center;
    }

    .homepage-sponsor-logo-square {
        height:100px;
        width:100px;
    }

    .homepage-sponsor-logo-wide {
        height:100px;
    }

    #Schedule {
        padding:2em 0 4em 0;
        display:flex;
        flex-direction:column;
        gap:1em;
    }

    .table-viewport {
        padding:1em;
        display: flex;
        flex-direction:column;
        justify-content: center;
    }

    .section-header {
        display:flex;
        justify-content:center;
    }

    #Schedule table thead {
        display:none;
    }

    #Schedule table td {
        display:flex;
    }

    #Schedule table tbody {
        display:flex;
        flex-direction:column;        
        gap:1em;
    }

    #Schedule table td::before {
        content: attr(label);
        min-width:20%;
        padding-left:0.3em;
    }

    #Schedule table td {
        padding:0.47em 0;
    }

    .table-viewport-controls {
        margin-top:2em;
        display:flex;
        justify-content:center;
        flex-wrap:wrap;        
        gap:1em;
    }

    #LatestNews {
        padding:2em 0 4em 0;
        display:flex;
        flex-direction:column;
        gap:3em;
    }

    #LatestNews .card {
        margin:0 1em;
    }

    #LatestNews .featured .featured-news-image {
        min-height:300px;
        background-position:52% 0;
    }

    #LatestNews .card .card-content {
        padding: 1em 1em 2em 1em;
    }

    #LatestNews .news-card .news-card-image {
        height:25vh;
    }

    #latest-news-1 {
        background-position:0 50%;
    }

    #GalleryHero {
        position:relative;
        display:flex;
        flex-direction:column;
    }

    .gallery-hero-content,
    .gallery-hero-image {
        display:flex;

    }

    .gallery-hero-content  {
        order:2;
        flex:1 0 50%;
        z-index: 700;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        gap:1em;
        padding:0 1em;
    }

    .gallery-hero-image {
        order:1;
        flex:1 0 50%;
    }

    .gallery-hero-controls {
        display:flex;
        justify-content:center;
        flex-wrap: wrap;
        gap:1em;
    }

    .footer-category,
    .footer-category-links {
        display:flex;
        flex-direction:column;
    }

    #Footer-Content {
        padding:2em 1em;
    }

    #Footer .footer-category-links li {
        padding-top:0.7em;
    }

    #Footer #contact-links li {
        display:flex;        
        align-items:center;
        padding-top:0.3em;
        gap:0.5em;
    }

    .footer-category-label {
        margin-top:0.5em;
    }

    #Copyright {
        padding:1em 0;
        border-top:2px solid #fff;
    }

}

/* *************
TABLETS, LAPTOPS, DESKTOPS BELOW ULTRAWIDE
****************/

@media only screen and (min-width:600px) {
    #SystemBarNavigation,
    #toggler,
    .nav-label {
        display:none;
    }

    #Logo {flex: 1 1 50%;}
    #Affiliations,
    #Social-Links {
        flex: 1 1 25%;
        display:flex;
    }

    #SystemBar img.logo {
        height:10%;
        width:10%;
    }

    #Affiliations {
        justify-content:flex-end;
    }

    #Social-Links {
        justify-content: flex-start;
    }



}

/*****************
EDGE CASE - LANDSCAPE MOBILE PHONES
*****************/

@media only screen and (max-height:700px) {
    #Hero {
        flex:1 0 80vh;
    }
}
